/*
   Heading : font-family: 'Sono', sans-serif; 300 and 400
   font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --mainColor:#FFF0E4;
    --secondaryColor:#fff;
    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
    --previewBg:rgb(251, 249, 243, 0.8);
    --themeDotBorder:#24292e;
    --previewShadow:#f0ead6;
    --btnColor:black;
}

*{
    margin: 0;
    padding: 0;
    cursor: url(asset/badminton.cur), default !important;
}

body{
    background: var(--mainColor) !important;
}

h1{
    font-family: 'Sono', sans-serif;
    font-weight: 400 !important;
    color: var(--mainText);
}

h2, h3, h4, h5, h6{
    font-family: 'Sono', sans-serif;
    font-weight: 300 !important;
    color: var(--secondaryText);
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--mainText);
    margin-left: 15px;
    margin-right: 15px;
}

nav{
    background: var(--mainText);
}


span{
    color: var(--secondaryColor) !important;
    font-size: 30px !important;
}


.welc{
    margin-top: 25px;
    margin-bottom: 15px;
}

.hell{
    color: var(--secondaryText);
}

a{
    text-decoration: none !important;
    color: var(--secondaryColor) !important;
}

.footer{
    color: var(--secondaryColor) !important;
}


.mob{
    font-size: 15px !important;
    padding: 10px;
}


@media screen and (max-width:799px) {
    .dest{
        display: none;
    }
}

@media screen and (min-width:800px){
    .mob{
        display: none;
    }
}
