/*
   Heading : font-family: 'Sono', sans-serif; 300 and 400
   font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --mainColor:#FFF0E4;
    --secondaryColor:#fff;
    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
    --previewBg:rgb(251, 249, 243, 0.8);
    --themeDotBorder:#24292e;
    --previewShadow:#f0ead6;
    --btnColor:black;
}

*{
    margin: 0;
    padding: 0;
    cursor: url(asset/badminton.cur), default !important;
}

body{
    background: var(--mainColor) !important;
}

h1{
    font-family: 'Sono', sans-serif;
    font-weight: 400 !important;
    color: var(--mainText);
}

h2, h3, h4, h5, h6{
    font-family: 'Sono', sans-serif;
    font-weight: 300 !important;
    color: var(--secondaryText);
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--mainText);
    margin-left: 15px;
    margin-right: 15px;
}

nav{
    background: var(--mainText);
}

ul>li>a{
    color: var(--secondaryText) !important;
}

span{
    color: var(--secondaryColor) !important;
    font-size: 30px !important;
}


.welc{
    margin-top: 25px;
    margin-bottom: 15px;
}

.hell{
    color: var(--secondaryText);
}

a{
    text-decoration: none !important;
    color: var(--secondaryColor) !important;
}

.footer{
    color: var(--secondaryColor) !important;
    background-color: var(--btnColor);
}

.mob{
    font-size: 15px !important;
    padding-right: 50px;
}

.accordion-button{
    background-color: var(--btnColor) !important;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }


  .dropdown-menu {
    margin: 4rem auto;
  }
  
  .dropdown-item-danger {
    color: var(--bs-red);
  }
  .dropdown-item-danger:hover,
  .dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
  }
  .dropdown-item-danger.active {
    background-color: var(--bs-red);
  }
  
  .btn-hover-light {
    background-color: var(--bs-white);
  }
  .btn-hover-light:hover,
  .btn-hover-light:focus {
    color: var(--bs-blue);
    background-color: var(--bs-light);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, .05);
  }
  .cal-btn[disabled] {
    border: 0;
    opacity: .5;
  }
  
  .form-control-dark {
    background-color: rgba(255, 255, 255, .05);
    border-color: rgba(255, 255, 255, .15);
  }
  
  
  .w-220px {
    width: 220px;
  }
  
  .w-280px {
    width: 280px;
  }
  
  .w-340px {
    width: 340px;
  }
  
  .w-600px {
    width: 600px;
  }
  

@media screen and (max-width:799px) {
    .dest{
        display: none;
    }

    .logo{
        width: 60%;
        height: 60%;
    }
}

@media screen and (min-width:800px){
    .mob{
        display: none;
    }
}
